*~
\#*\#

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
__pycache__
*.h5

.sys.v*

.ipynb_checkpoints
.vscode/
G4History.macro
MiniScatter
ROOTclasses/
SimpleDemo_PBW/
gammaFilter.mac
logs/
miniScatterDriver.py
miniScatterPlots.py
miniScatterScanner.py
output.txt
plots/
quicksilver.py
verbose.mac
vis.mac
examples/EricScripts/
examples/SimpleDemoPBW.ipynb
examples/simplePBW_1mmAl_1e5_DistribTest.png